<!DOCTYPE html>
<html>

<head>
    <title>TheToddBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <div class="body-wrapper">
        <div class="header-wrapper">
            <div class="nav-bar-left">
                <div id="the">
                    The
                </div><!-- the -->
                <div id="todd">
                    Todd
                </div><!--todd -->
            </div> <!-- nav bar left -->
            <div class="nav-bar-right">
                <% if logged_in? %>
                    <%= link_to "SIGN OUT", logout_path,{id: "sign-button"} %>
                <% else %>
                    <%= link_to "SIGN IN", login_path,{id: "sign-button"} %>
                <% end %>
            </div> <!-- nav bar right -->
        </div> <!-- header wrapper -->
        <div class="container">
            <div class="sidebar">
                <hr id="top-hr"/>
                <%= link_to "All Articles", articles_path, id: "top_article_link" %>
                <hr />
                <%= link_to "Top Articles", article_top_index_path, id: "top_article_link" %>
                <hr/>

                <%= link_to "Tags", tags_path, id: "top_article_link" %>
            </div><!-- sidebar -->
            <div class="content-wrapper">
            <div class="content">
                <%= yield %>
            </div><!-- content -->
            </div> <!-- content wrapper -->
        </div><!-- container -->
        <footer>
            <% if logged_in? %>
                <%= "Logged in as #{current_user.email}"%>
                <%= link_to "(logout)", logout_path%>
            <% else %>
                <%= link_to "(logout)", logout_path%>
            <% end %>
        </footer>
    </div> <!-- body wrapper -->
</body>

</html>